<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <!-- 属性注入 -->
    <bean id="car" class="com.xw.spring.framework.ioc2.$1simple.Car">
        <property name="name" value="奔驰" />
    </bean>
    
    <!-- 构造方法注入 -->
    <bean id="boss" class="com.xw.spring.framework.ioc2.$1simple.Boss">
        <constructor-arg name="car" ref="car" />
        <constructor-arg name="name" value="老板" />
    </bean>
    
    <bean id ="carFactory" class="com.xw.spring.framework.ioc2.$1simple.CarFactory" />
    
    <bean id ="car2" factory-bean="carFactory" factory-method="createBMWCar"/>
    
    <bean id ="car3" class="com.xw.spring.framework.ioc2.$1simple.CarFactory" factory-method="createCar"/>
    
</beans>